<mat-toolbar class="navigation" color="white" *ngIf="router.url !== '/login' && router.url !== '/register'">
    <button mat-flat-button [routerLink]="['/home']" class="w-100 h-100">
        <mat-icon color="primary">home</mat-icon>
    </button>
    <button mat-flat-button [routerLink]="['/progress']" class="w-100 h-100">
        <mat-icon color="primary">trending_up</mat-icon>
    </button>
    <button mat-flat-button [routerLink]="['/settings']" class="w-100 h-100">
        <mat-icon color="primary">settings</mat-icon>
    </button>
</mat-toolbar>