.register {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    max-width: 320px;
}

.register-input {
    display: flex;
}

.login {
    text-align: center;
    margin: 1rem 0;
}