<mat-accordion displayMode="flat">
    <div class="expansion-section-title">MY ACCOUNT</div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Name
            </mat-panel-title>
            <mat-panel-description>
                TEST USER
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Username
            </mat-panel-title>
            <mat-panel-description>
                TEST_USER
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Birthday
            </mat-panel-title>
            <mat-panel-description>
                01/01/0000
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mobile Number
            </mat-panel-title>
            <mat-panel-description>
                +1 123 456-7890
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Email
            </mat-panel-title>
            <mat-panel-description>
                LONGTESTEXAMPLE@EXAMPLE.COM
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <div class="expansion-section-title">SUPPORT</div>
    <!-- HELP -->
    <!-- PRIVACY -->
    <div class="expansion-section-title">FEEDBACK</div>
    <!-- BUG REPORT -->
    <!-- FEATURE SUGGESTION -->
    <!-- REVIEW -->
    <div class="expansion-section-title">ACCOUNT ACTIONS</div>
    <!-- CLEAR CACHE -->
    <!-- DELETE ACCOUNT -->
    <!-- LOG OUT -->
</mat-accordion>